#menuToggle {
  input#checkbox {
    display: none;

    &:checked {
      ~ .toggle {
        .bar {
          &:nth-child(1) {
            transform: rotate(-45deg) translate(-5px, 6px);
          }

          &:nth-child(2) {
            opacity: 0;
          }

          &:nth-child(3) {
            transform: rotate(45deg) translate(-5px, -6px);
          }
        }
      }

      ~ ul {
        display: block;
        transform-origin: top;
        transform: scale(1);
      }
    }
  }

  .toggle {
    position: absolute;
    top: 20px;
    right: 15px;
    cursor: pointer;
    .bar {
      display: block;
      width: 25px;
      height: 2px;
      margin-bottom: 5px;
      background: white;
      transition: all 0.3s ease-in-out;
    }
  }

  ul {
    list-style-type: none;
    transform: scale(0);
    transition: transform 0.5s ease-in-out;
    li {
      padding: 10px 10px;
      a {
        text-decoration: none;
        color: white;
      }
    }
  }
}
