header {
   nav {
      position: absolute;
      z-index: 1;
      display: flex;
      flex-direction: row;

      ul {
         li {
            a {
               // Styles for the main navigation links
            }
         }
      }

      .burger {
         // Styles for the burger menu
      }
   }

   .hero {
      img {
         

         // Styles for the hero image
      }

      .hero-text {
         h1 {
            // Styles for the hero text
         }
      }
   }
}