header {
  nav {
    height: 120px;
    max-height: 120px;
    padding-top: 20px;
    column-gap: 100px;
    display: flex;
   flex-direction: row;
    justify-content: space-around;
    align-items: last flex-start;


    background-color: $hero-blue;

    .logo {
   // Styles for the logo
    }

    .nav__ul {
      display: none;
      li {
        a {
          color: black; // Styles for the main navigation links
        }
      }
    }

  }
  
  .hero {
    
    img {
      height: 418px;
      width: 100%; // Styles for the hero image
      object-fit: cover;
      object-position: bottom;
    }
    
    .hero__text {
      position: absolute;
      top: 25%;
      
      h1 {
        color: white; // Styles for the hero text
      }
    }
    .hero__arrow {
      color: white;
      position: absolute;
      top: 40%;
    }
  }
}

#menuToggle {
  
  position: static;
  margin-top: 30px;

  // Styles for the burger menu
}