header {

nav {
   height: 120px; 
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   background-color: $hero-blue;
   
   .logo {
      height: 120px; // Styles for the logo
   }

      .nav__ul {
         display: none;
         li {
            a {
               color: black; // Styles for the main navigation links
            }
         }
      }

      #menuToggle {
         color: black; // Styles for the burger menu
      }
   }

   .hero {
      img {
         height: 418px;
         width: 100%; // Styles for the hero image 
         object-fit: cover;
         object-position: bottom;




      }

      .hero-text {
         h1 {
            color: black; // Styles for the hero text
         }
      }
   }
}
